<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Credentials
                <button class="btn btn-primary pull-right margin" (click)="createNewCredentialsModal.show()"><i class="fa fa-plus"></i> Create new credentials</button>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Client Id</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="credentials != null">
                    <tr *ngFor="let item of credentials;">
                        <td>{{item.clientId}}</td>
                        <td>{{item.username}}</td>
                        <td>
                            <button class="btn btn-danger pull-right margin"><i class="fa fa-trash"></i> Delete</button>
                            <button class="btn btn-primary pull-right margin"><i class="fa fa-edit"></i> Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->

<div class="modal fade" bsModal #createNewCredentialsModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Create new credentials</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="createNewCredentialsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="email">Client Id:</label>
                    <ng-select [allowClear]="true" [items]="clients" [disabled]="disabled"  placeholder="No client id selected">
                    </ng-select>
                </div>
                <div class="form-group">
                    <label for="pwd">Username:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <button class="btn btn-success pull-right"><i class="fa fa-save"></i> Create</button>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>